/* Google Fonts used on website */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Quantico:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url('../images/background.jpg');
    background-size: 500px auto;
    font-family: 'Quantico', sans-serif;
    font-weight: 400;
    padding-bottom: 65px; /* Padding used to offset fixed footer, see credits section in README.md for more info */
}

h1, h2, h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

/* Header */
header {
    height: 130px;
    background-color: rgb(40, 40, 40);
    text-align: center;
}
header h1 {
    display: inline-block;
    font-family: 'Bungee', cursive;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
header h1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header h1 a:hover {
    color: rgb(255, 155, 0);
}
header h2 {
    color: rgb(255, 255, 255);
}

/* Classes for all sections */
.section {
    height: auto;
    max-width: 800px;
    width: 100%;
    background-color: rgb(235, 235, 235, 0.95);
    text-align: center;
    margin: 100px auto;
    padding: 40px 0 20px;
    border: 1px solid rgb(205, 205, 205);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.section p, .section ol {
    font-size: 1.1rem;
    text-align: left;
    margin: 0 35px 20px;
}

.section-no-btn {
    padding-top: 20px;
}

.btn {
    height: 50px;
    width: 200px;
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    font-family: 'Quantico', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    margin: 0 auto 40px;
}
.btn:hover {
    background-color: rgb(255, 155, 0);
}
.hide {
    display: none;
}

/* Game section */
#game-section {
    padding-top: 0;
}
#game-body {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

#game-over-text {
    text-align: center;
}

#cheeses {
    margin: 20px auto;
}

#scores p {
    font-size: 1.2rem;
    display: inline-block;
    margin: 20px 5px 10px;
    padding: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 235, 235);
}
#scores p span {
    font-weight: bold;
}

/* How-to-play section */
#how-to-play-section .start-button {
    margin-top: 30px;
}

#how-to-play-section li {
    margin: 0 20px;
}

/* Game assets */
.bush {
    height: 60px;
    width: 149px;
    background-image: url('../images/bush.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.cheese {
    height: 39px;
    width: 65px;
    background-image: url('../images/cheese.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 20px 20px 20px;
}

.raccoon {
    height: 81px;
    width: 90px;
    background-image: url('../images/raccoon.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: -40px auto;
    
}

/* Footer */
footer {
    position: fixed;
    width: 100%;
    height: 65px;
    background-color:rgb(40, 40, 40);
    bottom: 0;
}
footer i, footer a {  
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 20px 0;
}
footer i:hover, footer a:hover, footer a:hover i {
    color: rgb(255, 155, 0);
}

#social-media {
    font-size: 1.5rem;
    float: left;
    margin-left: 20px
}
#social-media a {
    margin-right: 10px;
}

#report {
    float: right;
    font-size: 1.2rem;
    margin-right: 20px;
}

/* Report form section */
#report-form {
    margin: 0 35px;
}
#report-form label {
    display: block;
    float: left;
}

.form-div {
    width: 100%;
    margin: 10px 0;
}
.form-div input, .form-div textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3rem 0.5rem;
    font-size: 1.1rem;
    border: 1px solid rgb(40, 40, 40);
}
.form-div input:focus, .form-div textarea:focus {
    outline-color: rgb(255, 155, 0);
}
#form-buttons input, .return-btn {
    display: inline-block;
}

#form-submit {
    float: left;
}

#form-back {
    float: right;
}

.return-btn {
    text-decoration: none;
    box-sizing: border-box;
    line-height: 50px;
}

/* Break point for report form on small screens */
@media screen and (max-width: 500px) {
    #form-buttons input, #form-buttons button, #form-buttons a {
        width: 100%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 900px) {
    /* Classes for all sections */
    .section {
        max-width: 500px;
    }

    /* Game section */
    #game-body {
        max-width: 500px;
    }

    #scores p {
        font-size: 1rem;
    }

    /* Game assets */
    .bush {
        height: 37px;
        width: 92px;
    }

    .raccoon {
        height: 61px;
        width: 69px;
    }

    .cheese {
        height: 28px;
        width: 46px;
    }
}

/* Media query for small screens */
@media screen and (max-width: 430px) {
    /* Header */
    header{
        height: 110px;
    }
    header h1 {
        font-size: 1.5rem;
    }
    header h2 {
        font-size: 1rem;
    }
    
    /* Classes for all sections */
    .section {
        margin: 20px auto;
    }
    .section p, .section li {
        font-size: 1rem;
    }

    /* Game assets */
    .bush {
        
        margin: 10px;
    }

    .raccoon {
        height: 50px;
        width: 59px;
        margin: -20px auto;
    }

    .cheese {
        margin: 0 5px;
    }

    /* Game section */
    #scores p {
        margin: 10px 0;
    }
}

/* Breakpoint for bushes */
@media screen and (max-width: 340px) {
    /* Game assets */
    .bush {
        height: 30px;
        width: 74px;
    }

    .raccoon {
        height: 42px;
        width: 49px;
    }
}