* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    height: 120px;
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    text-align: center;
}
header h1 {
    display: inline-block;
    margin: 20px 0;
}
/* Section class for all sections */
.section {
    height: 500px;
    max-width: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255);
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}
.section p {
    text-align: left;
    margin: 0 35px 20px;
}
.section li {
    text-align: inherit;
    margin: 0 35px;
}
/* Game section */
#game-section {
    height: auto;
    max-width: none;
    background-color: rgb(35, 163, 15);
    padding-top: 0;
}
#game-body {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

#cheeses {
    margin: 20px auto;
}
/* How to play section */
#how-to-play-section {
    height: 600px;
}
#how-to-play-section ol {
    margin-bottom: 20px;
}
/* Game over section */
#game-over {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

#scores p {
    display: inline-block;
    margin: 20px 5px 10px;
    padding: 4px;
    background-color: white;
    border: solid 1px black;
}
#scores p span {
    font-weight: bold;
}
/* Buttons */
.btn {
    height: 50px;
    width: 200px;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 1.5rem;
    display: block;
    margin: 0 auto 40px;
}
/* Game assets */
.bush {
    height: 37px;
    width: 92px;
    background-image: url('../images/bush.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.cheese {
    height: 28px;
    width: 46px;
    background-image: url('../images/cheese.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 20px;
}

.raccoon {
    height: 61px;
    width: 69px;
    background-image: url('../images/raccoon.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: -40px auto;
    
}

.hide {
    display: none;
}

@media screen and (max-width: 430px) {
    .bush {
        
        margin: 10px;
    }

    .raccoon {
        height: 46px;
        width: 52px;
        margin: -20px auto;
    }

    .cheese {
        margin: 0 5px;
    }

    #scores p {
        display: inline-block;
        margin-bottom: 5px;
    }
}
/* Breakpoint for bushes */
@media screen and (max-width: 340px) {
    .bush {
        height: 30px;
        width: 74px;
    }

    .raccoon {
        height: 42px;
        width: 49px;
    }
}