* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(40, 40, 40);
}

header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

#home-section {
    height: 500px;
    background-color: rgba(255, 255, 255);
    text-align: center;
}
/* Game section */
#game-section {
    height: 500px;
    background-color: rgb(35, 163, 15);
    text-align: center
}
#game-body {
    width: 320px;
}
/* Game over section */
#game-over-section {
    height: 500px;
    background-color: rgba(255, 255, 255);
    text-align: center;
}
#game-over-section h1 {
    margin-top: 20px;
}
#game-over-section p {
    text-align: left;
    margin: 0 35px;
}
/* Buttons */
.btn {
    height: 50px;
    width: 200px;
    margin-top: 40px;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 1.5rem;
}
/* Game assets */
.bush {
    height: 50px;
    width: 100px;
    background-color: rgb(23, 110, 10);
    display: inline-block;
    margin: 35px 20px;
    text-align: center;
}

.raccoon {
    height: 100px;
    width: 50px;
    background-color:rgb(40, 40, 40);
}

.hide {
    display: none;
}